@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  /* overflow-y: auto; */

  background-color: #eff0f3;
  color: rgb(70, 69, 69);
  font-family: "Google Sans";

  user-select: none;
}

.link {
  text-decoration: none;
  color: #007aff;
}

.frame {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ffffff;
  padding: 48px 48px 12px 48px;
  height: 100%;

  overflow-y: auto;
}
