.container {
    display: flex;
    width: 100%;
    height: 100%    ;
    border-radius: 15px;
}

.image-frame {
    width: 100%;
    flex: 3;
    flex-shrink: 0;
    background-image: url("https://cdn.wallpapersafari.com/6/63/pQKgfX.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 0 2rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* background-color: red; */
    margin-bottom: 48px;
}

.logo > span {
    font-weight: bold;
    font-size: 20px;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: auto;
    font-size: 11px;
}

.logo-footer {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: bold;
}

/* RESPONSIVE */

