@media (max-width: 1300px) {
    .image-frame {
        flex: 2;
    }
}

@media (max-width: 1000px) {
    .image-frame {
        flex: 1;
    }

    .image-frame img {
        width: 120px;
        height: 120px;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
/* MOBILE */
@media (max-width: 768px) {

    body .frame {
        padding: 20px 20px 10px 20px;
    }

    .image-frame {
        display: none;
    }

    .action > a {
        font-size: 12px;
    }
}